.wrapper {
  width: 12rem;
  position: absolute;
  top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
  background-color: bisque;
  padding: 12px 8px;
  border: 1px solid black;
}

.button {
  width: 100%;
  text-align: start;
  cursor: pointer;
  &:disabled {
    cursor: auto;
  }
}
