:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
body {
  color: #213547;
  background-color: #ffffff;
}
a {
  color: rgb(60, 60, 170);
  text-decoration: none;
  transition: color cubic-bezier(0.075, 0.82, 0.165, 1) 350ms;
}
a:hover,
a:focus {
  color: rgb(0, 0, 255);
}
